<nav class="navbar nav-pink">
  <a class="navbar-brand"
     href="#">
    <i class="fa fa-arrow-left mr-2"
       (click)="back()"></i>
    {{empresa.enterprise_name}}
  </a>
</nav>

<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-md-12">

      <div class="card mt-4">
        <div class="card-body">
          <h3 class="title">{{empresa.enterprise_name}}</h3>
          <p class="paragraph">{{empresa.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>