.card {
  .card-body {
    color: var(--paragraph);
    .title {
      color: var(--dark-indigo);
      font-size: 1.2rem;
    }
    p {
      margin: 0;
      &.paragraph {
        font-size: 1rem;
      }
      &.country {
        font-size: 0.8rem;
      }
    }
  }
}

.noData {
  color: var(--paragraph);
  font-size: 2.125rem;
}
