﻿<app-nav-bar (searchcriteria)="searchOrCleanField($event)"
             (newLst)="loadData($event)"></app-nav-bar>

<div class="container pt-5 pb-5">
  <h6 *ngIf="noData"
      class="noData">Nenhuma empresa foi encontrada para a busca realizada.</h6>
  <div class="row"
       *ngIf="lstEnterprise">
    <div class="col-md-12"
         *ngFor="let item of lstEnterprise">

      <div class="card mt-4"
           (click)="goToDetail(item)">
        <div class="card-body">
          <h3 class="title">{{item.enterprise_name}}</h3>
          <p class="paragraph">{{item.enterprise_type.enterprise_type_name}}</p>
          <p class="country">{{item.country}}</p>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>
<footer>
  <a href=""
     (click)="logout()">Deslogar</a>
</footer>