nav {
  &.navbar {
    &.nav-pink {
      background: var(--primary);
    }
    .navbar-brand {
      width: 90%;
      display: flex;
      justify-content: center;
    }
  }
}

.outlineInput {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  background: transparent;
  &:focus {
    color: #495057;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    outline: 0;
    box-shadow: none;
  }
  &::placeholder {
    color: white;
  }
}
.input-group-text {
  color: white;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  cursor: pointer;
}

button {
  &.btn-outline-search {
    border-bottom: 1px solid white;
    border-radius: 0;
    i {
      &.fa {
        color: white;
      }
    }
  }
}
