<nav class="navbar nav-pink ">
  <div class="col-md-10"
       *ngIf="!isSearch">
    <a class="navbar-brand"
       href="#">
      <img src="/assets/logo-nav.png"
           loading="lazy">
    </a>
  </div>

  <div [class]="isSearch ? 'col-md-12' : 'col-md-2'">
    <div class="input-group mb-3">
      <div class="input-group-prepend"
           (click)="showInput()">
        <span class="input-group-text"
              id="basic-addon1"><i class="fa fa-search"></i></span>
      </div>
      <input type="text"
             class="form-control outlineInput"
             placeholder="Pesquisar"
             aria-label="Pesquisar"
             aria-describedby="button-addon2"
             [(ngModel)]="searchWord"
             *ngIf="isSearch"
             (keyup)="searchTerm.next($event.target.value)">
      <div class="input-group-append">
        <button class="btn btn-outline-search"
                type="button"
                id="button-addon2"
                (click)="searchOrCleanField(true)"
                *ngIf="isSearch">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
  </div>
</nav>