﻿<div class="col-md-8 offset-md-2 mt-5">
  <div class="card">
    <div class="card-header mb-5">
      <img class="headerImage"
           src="/assets/logo.png">

    </div>
    <div class="card-body">
      <div class="row">
        <div class="text-center mt-2 textCall">
          <h3>
            BEM-VINDO AO EMPRESAS
          </h3>
          <p class="mt-4">
            Lorem ipsum dolor sit amet, contetur adipiscing elit. Nunc accumsan.
          </p>
        </div>
      </div>
      <form [formGroup]="loginForm"
            class="mt-4"
            (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text prependPink"
                    id="basic-addon1"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="text"
                   formControlName="username"
                   class="form-control outlineInput"
                   placeholder="E-mail"
                   [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors"
                 class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Email é obrigatório</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text prependPink"
                    id="basic-addon1"><i class="fa fa-lock"></i></span>
            </div>
            <input [type]="visiblePassword ? 'text' : 'password'"
                   formControlName="password"
                   class="form-control outlineInput"
                   placeholder="Senha"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div class="input-group-append"
                 (click)="toggleVisiblePassword()">
              <span class="input-group-text">
                <i class="fa fa-eye"
                   *ngIf="visiblePassword"></i>
                <i class="fa fa-eye-slash"
                   *ngIf="!visiblePassword"></i>
              </span>
            </div>

          </div>
          <div *ngIf="submitted && f.password.errors"
               class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Senha é obrigatório</div>
          </div>
        </div>
        <button [disabled]="loading"
                class="btn btn-secondary w-100 mt-4">
          <span *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"></span>
          Entrar
        </button>
        <div *ngIf="error"
             class="alert alert-login mt-3 mb-0">Credenciais informadas são inválidas, tente novamente.</div>
      </form>
    </div>
  </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>