.card {
  background-color: transparent;
  border: none;
  .card-header {
    border: none;
    background-color: transparent;

    img {
      &.headerImage {
        width: fit-content;
        height: auto;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .card-body {
    .textCall {
      color: var(--text);
      h3 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1.125rem;
        line-height: 1.625rem;
      }
    }

    form {
      .prependPink {
        color: var(--primary) !important;
        width: 50px;
        font-size: 15px;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: center;
      }
      .outlineInput {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        background: transparent;
        &:focus {
          color: #495057;
          background-color: transparent;
          border-bottom: 2px;
          border-color: var(--primary);
          outline: 0;
          box-shadow: none;
        }
      }
      .input-group-text {
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
        cursor: pointer;
      }
    }

    button {
      &.btn {
        &.btn-secondary {
          background-color: var(--secondary);
          border-color: var(--secondary);
        }
      }
    }

    .alert {
      &.alert-login {
        color: var(--danger);
        font-size: 0.76rem;
        line-height: 1.482rem;
        text-align: center;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
      }
    }
  }
}
