:root {
  --primary: #ee4c77;
  --secondary: #57bbbc;
  --danger: #ff0f44;
  --base: #ebe9d7;
  --text: #383743;
  --textLight: #b5b4b4;
  --paragraph: #8d8c8c;
  --night-blue: #0d0430;
  --dark-indigo: #1a0e49;
}
